.btn {
  font-family: @font-family-main;
  text-align: center;
  box-shadow: 2.5px 4.3px 5px rgba(0, 1, 1, 0.09);
  display: block;
  text-decoration: none;
  font-weight: 700;
}

.btn--small {
  width: 109px;
  height: 33px;
  line-height: 33px;
  font-size: 15px;
  border-radius: 15px;
}

.btn--large {
  height: 44px;
  line-height: 44px;
  border-radius: 20px;
  width: 222px;
  font-size: 21px;
}

.btn--white {
  color: @color-primary;
  background: #fff;
}

.btn--blue {
  background: @color-primary;
  color: #fff;
}

.header__login {
  float: left;
  margin-right: 32px;
}

.header__signup {
  float: left;
}