.btn {
  display: block;
  padding: 10.5px 30px;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-family: @font-family-main;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}