.content {
  background: #fff;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  
  &__header-big, h1 {
    font-size: 36px;
    font-family: @font-family-main;
    margin-bottom: 20px;
  }
  
  &__header-small, h2 {
    font-size: 24px;
    line-height: 48px;
    font-family: @font-family-main;
    margin-top: 20px;
  }
  
  &__text, p {
    font-size: 14px;
    line-height: 30px;
    font-family: @font-family-main;
    margin-bottom: 10px;
  }
  
  &__table, table {
    
  }
  
  &__list, ul {
    
  }
  
  &__list-item, li {
    
  }
  
  
}