.contacts {
  margin-bottom: 60px;
  
  &__item {
    display: flex;
  }
  
  &__header {
    font-size: 14px;
    line-height: 36px;
    font-family: @font-family-main;
    width: 130px;
  }
  
  &__content {
    font-size: 14px;
    line-height: 36px;
    font-family: @font-family-main;
  }
}