.error {
  width: 100%;
  flex: 1;
//  height: 100%;
//  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  
  &__header {
    font-size: 36px;
    font-family: @font-family-main;
    color: #fff;
    margin-bottom: 75px;
    margin-left: 30px;
  }
  
  &__content {
    width: 631px;
    height: 234px;
    background: url(../img/404.png) no-repeat;
    background-size: cover;
  }
}