.trainer {
  
  &:nth-child(n+2) {
    margin-top: 50px;
  }
  &__content {
    display: flex;
  }
  
  &__left {
    margin-right: 14px;
  }
  
  &__photo {
    border-bottom: 3px solid @color-main;
  }
  
  &__schedule {
    margin-top: 10px;
  }
  
  &__text {
    
  }
}