mixin socials(newClass)
  ul.socials(class=newClass)
    li.socials__item
      a.socials__item-link.socials__item-link--vk(href="#")
    li.socials__item
      a.socials__item-link.socials__item-link--instagram(href="#")
    li.socials__item
      a.socials__item-link.socials__item-link--fb(href="#")