@color-main: #c32417;

@table-bg: #3e3e41;
@table-bg-active: rgba(100, 100, 106, .5);
@table-course-color: rgba(62, 62, 66, .5);


@font-family-main: 'Roboto', 'Arial', sans-serif;


@transition: all .1s linear;





@screen-xs:                   479px;
@screen-sm:                   749px;
@screen-md:                   1023px;
@screen-lg:                   1199px;