doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    .wrapper
      +header
      .error
        .error__header Такой страницы не существует
        .error__content
      +footer