doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    +header
    .wrapper
      .error
        .error__header Такой страницы не существует
        img.error__content(src="img/404.png", alt="404")
    +footer