doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    +header('', 'menu--center')
    .wrapper
      .calendar
        .calendar__top
          .calendar__controls
            a.calendar__controls-item(href="#") пилатес
            a.calendar__controls-item(href="#") функциональный тренинг
            select.calendar__controls-item.calendar__controls-item--trainer
              option(value="initial" disabled selected) выбрать тренера
              option(value="Elena") Елена Смолина
              option(value="Andrey") Андрей Смольный
          .calendar__dates
            a.calendar__dates-button.calendar__dates-button--past(href="#") Предыдущая неделя
            .calendar__dates-range 15 августа - 21 августа
            a.calendar__dates-button.calendar__dates-button--future(href="#") Следующая неделя
        .calendar__content
          .calendar__row
            .calendar__header-item.calendar__header-item--icon
            a.calendar__header-item(href="#") Пн. 15
            a.calendar__header-item.calendar__header-item--active(href="#") Вт. 16
            a.calendar__header-item(href="#") Ср. 17
            a.calendar__header-item(href="#") Чт. 18
            a.calendar__header-item(href="#") Пт. 19
            a.calendar__header-item(href="#") Сб. 20
            a.calendar__header-item(href="#") Вс. 21
          .calendar__row
            a.calendar__time(href="#") 07:00
            .calendar__courses-container.calendar__courses-container--full
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
          .calendar__row
            a.calendar__time.calendar__time--active(href="#") 08:00
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container.calendar__courses-container--full.calendar__courses-container--active
              a.calendar__course.calendar__course--active.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container.calendar__courses-container--full
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
          .calendar__row
            a.calendar__time(href="#") 09:00
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container.calendar__courses-container--full
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
          .calendar__row
            a.calendar__time(href="#") 10:00
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container.calendar__courses-container--full
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
          .calendar__row
            a.calendar__time(href="#") 11:00
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container.calendar__courses-container--full
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
          .calendar__row
            a.calendar__time(href="#") 12:00
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container.calendar__courses-container--full
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
          .calendar__row
            a.calendar__time(href="#") 13:00
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container.calendar__courses-container--full
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
          .calendar__row
            a.calendar__time(href="#") 14:00
            .calendar__courses-container.calendar__courses-container--full
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
          .calendar__row
            a.calendar__time(href="#") 15:00
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container.calendar__courses-container--full
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
          .calendar__row
            a.calendar__time(href="#") 16:00
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container.calendar__courses-container--full
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
            .calendar__courses-container
              .calendar__course
          .calendar__row
            a.calendar__time(href="#") 17:00
            .calendar__courses-container.calendar__courses-container--active
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 3
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 3
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container.calendar__courses-container--full
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
            .calendar__courses-container
              .calendar__course
          .calendar__row
            a.calendar__time(href="#") 18:00
            .calendar__courses-container.calendar__courses-container--full
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
          .calendar__row
            a.calendar__time(href="#") 19:00
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container.calendar__courses-container--full
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
          .calendar__row
            a.calendar__time(href="#") 20:00
            .calendar__courses-container.calendar__courses-container--full
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
          .calendar__row
            a.calendar__time(href="#") 21:00
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container.calendar__courses-container--full
              a.calendar__course.calendar__course--full(href="#modal", data-entry)
                p.calendar__course-name Пилатес
                p.calendar__course-trainer Елена Смолина
                p.calendar__course-name Кол-во мест: 2
            .calendar__courses-container
              .calendar__course
            .calendar__courses-container
              .calendar__course
    +footer
    +modal