doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    +header('logo--black', 'menu--black')
    .wrapper
      .divided-page
        .page-half
          .map#map
        .page-half
          .content
            h2.content__header-big Наши контакты
            .contacts
              .contacts__item
                .contacts__header Адрес:
                .contacts__content ул. Название улицы, № 132. 
              .contacts__item
                .contacts__header Телефон:
                .contacts__content +7 (908) 111-11-11
              .contacts__item
                .contacts__header Рабочие дни:  
                .contacts__content пн. - сб.
              .contacts__item
                .contacts__header Часы работы:    
                .contacts__content с 8:00 до 21:00
            h2.content__header-big Присоединяйтесь:
            a.content__link.content__link--arrowless(href="#") Instagram
            a.content__link.content__link--arrowless(href="#") facebook.ru
            a.content__link.content__link--arrowless(href="#") vk.com
    +footer('footer--transparent', 'phone--black', 'socials--black')