doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    +header('', 'menu--center')
    .wrapper
      .divided-page
        .page-half.animsition
          a.course.course--pilates.animsition-link(href="pilates.html")
            .course__content
              h2.course__name Пилатес
              p.course__comment программы
        .page-half.animsition
          a.course.course--functional.animsition-link(href="functional.html")
            .course__content
              h2.course__name Функциональный тренинг
              p.course__comment программы
    +footer('footer--transparent')