doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    .wrapper
      +header
      .divided-page
        .page-half
          a.course.course--pilates(href="#")
            .course__content
              h2.course__name Пилатес
              p.course__comment программы
        .page-half
          a.course.course--functional(href="#")
            .course__content
              h2.course__name Функциональный тренинг
              p.course__comment программы
      +footer