doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body.animsition
    .wrapper
      +header('', 'menu--black')
      .divided-page
        .page-half
          .course.course--pilates
            .course__content
              h2.course__name Функциональный тренинг
              p.course__comment программы
        .page-half
          .content
            h2.content__header-big Программы функционального тренинга
            p.content__text Система пилатес включает в себя упражнения для всех частей тела. Данная система упражнений была разработана в начале XX века, но получила наибольшее признание в начале XXI века. В настоящее время пилатесом занимаются более 11 миллионов человек по всему миру.
            p.content__text Метод пилатеса делает упор на взаимодействие разума и тела при выполнении упражнений. Выполнение упражнений пилатеса сопровождается концентрацией на дыхательном ритме, правильности выполнения упражнения и осознанием действия каждого упражнения на ту или иную группу мышц.
            p.content__text Пилатес укрепляет мышцы пресса, улучшает баланс и координацию, а также снижает стресс. Упражнения пилатеса безопасны и подходят для широкого возрастного спектра[источник не указан 1758 дней]. Пилатесом можно заниматься как в фитнес-клубе, так и самостоятельно, дома.
            p.content__text Метод пилатеса делает упор на взаимодействие разума и тела при выполнении упражнений. Выполнение упражнений пилатеса сопровождается концентрацией на дыхательном ритме
            a.content__link(href="calendar.html") Посмотреть расписание занятий 
      +footer('footer--transparent', 'phone--tablet-black', 'socials--black')