doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    +header
    .wrapper
      ul.gallery
        li.gallery__item
          a.gallery__item-link(href="img/main-bg-1.jpg" rel="gallery" data-gallery)
            img.gallery__item-img(src="http://placehold.it/390x390", alt="Clients")
        li.gallery__item
          a.gallery__item-link(href="img/main-bg-1.jpg" rel="gallery" data-gallery)
            img.gallery__item-img(src="http://placehold.it/390x390", alt="Clients")
        li.gallery__item
          a.gallery__item-link(href="img/main-bg-1.jpg" rel="gallery" data-gallery)
            img.gallery__item-img(src="http://placehold.it/390x390", alt="Clients")
        li.gallery__item
          a.gallery__item-link(href="img/main-bg-1.jpg" rel="gallery" data-gallery)
            img.gallery__item-img(src="http://placehold.it/390x390", alt="Clients")
        li.gallery__item
          a.gallery__item-link(href="img/main-bg-1.jpg" rel="gallery" data-gallery)
            img.gallery__item-img(src="http://placehold.it/390x390", alt="Clients")
        li.gallery__item
          a.gallery__item-link(href="img/main-bg-1.jpg" rel="gallery" data-gallery)
            img.gallery__item-img(src="http://placehold.it/390x390", alt="Clients")
        li.gallery__item
          a.gallery__item-link(href="img/main-bg-1.jpg" rel="gallery" data-gallery)
            img.gallery__item-img(src="http://placehold.it/390x390", alt="Clients")
        li.gallery__item
          a.gallery__item-link(href="img/main-bg-1.jpg" rel="gallery" data-gallery)
            img.gallery__item-img(src="http://placehold.it/390x390", alt="Clients")
        li.gallery__item
          a.gallery__item-link(href="img/main-bg-1.jpg" rel="gallery" data-gallery)
            img.gallery__item-img(src="http://placehold.it/390x390", alt="Clients")
    +footer('footer--transparent')