doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    .slider-main
    +header
    .wrapper
      .title
        h1.title__content Студия пилатес
        p.title__comment и функционального тренинга
        a.btn.title__btn(href="#") 
          .btn__content Гостевой визит
    +footer