doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    .wrapper
      +header('', 'menu--black')
      .divided-page
        .page-half
          .course.course--pilates
            .course__content
              h2.course__name Пилатес
              p.course__comment программы
        .page-half
          .content
            h1.content__header-big Программы пилатес
            p.content__text Система пилатес включает в себя упражнения для всех частей тела. Данная система упражнений была разработана в начале XX века, но получила наибольшее признание в начале XXI века. В настоящее время пилатесом занимаются более 11 миллионов человек по всему миру.
            .content__item
              h2.content__header-small Тренажеры
              .content__photos
                img.content__photos-main(src="img/pilates-2-big.jpg", alt="Pilates")
                .content__photos-thumbnails
                  a.content__photos-thumbnails-item(href="#")
                    img.content__photos-thumbnails-item-img(src="img/pilates-1-small.jpg", alt="Pilates")
                  a.content__photos-thumbnails-item(href="#")
                    img.content__photos-thumbnails-item-img(src="img/pilates-2-small.jpg", alt="Pilates")
                  a.content__photos-thumbnails-item(href="#")
                    img.content__photos-thumbnails-item-img(src="img/pilates-3-small.jpg", alt="Pilates")
            .content__item
              h2.content__header-small Таблица
              table.content__table
                tr.content__table-row
                  th.content__table-header Имя столбца 1
                  th.content__table-header Имя столбца 2
                  th.content__table-header Имя столбца 3
                  th.content__table-header Имя столбца 4
                tr.content__table-row
                  td.content__table-cell 245
                  td.content__table-cell 245
                  td.content__table-cell 245
                  td.content__table-cell 245
                tr.content__table-row
                  td.content__table-cell 3 345
                  td.content__table-cell 3 345
                  td.content__table-cell 3 345
                  td.content__table-cell 3 345
                tr.content__table-row
                  td.content__table-cell 4 345
                  td.content__table-cell 4 345
                  td.content__table-cell 4 345
                  td.content__table-cell 4 345
            .content__item
              h2.content__header-small Список
              ul.content__list
                li.content__list-item Элемент списка 1
                li.content__list-item Элемент списка 2
                li.content__list-item Элемент списка 3
      +footer('', 'socials--black')