doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    +header('', 'menu--black')
    .wrapper
      .divided-page
        .page-half
          .course.course--trainers
            .course__content
              h2.course__name Тренеры
        .page-half
          .content
            .trainer
              h1.content__header-big Анастасия Фролова
              .trainer__content
                .trainer__left
                  img.trainer__photo(src="img/trainer-1.jpg", alt="Анастасия Фролова")
                  a.trainer__schedule.content__link(href="#") Посмотреть расписание
                .trainer__text
                  p.content__text Система пилатес включает в себя упражнения для всех частей тела. Данная система упражнений была разработана в начале XX века, но получила наибольшее признание в начале XXI века.
                  p.content__text Система пилатес включает в себя упражнения для всех частей тела. Данная система упражнений была разработана в начале XX века, но получила наибольшее
                  p.content__text Была разработана в начале XX века, но получила наибольшее была разработана в начале XX века
            .trainer
              h1.content__header-big Андрей Иванов
              .trainer__content
                .trainer__left
                  img.trainer__photo(src="img/trainer-2.jpg", alt="Анастасия Фролова")
                  a.trainer__schedule.content__link(href="#") Посмотреть расписание
                .trainer__text
                  p.content__text Система пилатес включает в себя упражнения для всех частей тела. Данная система упражнений была разработана в начале XX века, но получила наибольшее признание в начале XXI века.
                  p.content__text Система пилатес включает в себя упражнения для всех частей тела. Данная система упражнений была разработана в начале XX века, но получила наибольшее
                  p.content__text Была разработана в начале XX века, но получила наибольшее была разработана в начале XX века
    +footer('footer--transparent', 'phone--tablet-black', 'socials--black')